.button {
    background-color: #ff1d8e; 
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border-radius: 4px
}
.button2 {
    background-color: #696969; 
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border-radius: 4px
}
input[type=text], select {
    width: 30%;
    padding: 9px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
div {
    border-radius: 5px;
    background-color: #f3f3f3;
    padding: 20px;
   padding: 10px 24px;
    text-align: center;
}
#cbox-label{
  text-align:left;
}

#in{
  display: none;
  float:right;
}
#welcome{
  display:none;
text-align: center;
 vertical-align:center;
}
#q{
  display:none;
text-align: center;
}
